<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <title>Oxygène : Nouveau stage</title>
    <link rel="stylesheet" href="../assets/stylesheets/style.css" />
    <link rel="stylesheet" href="../assets/stylesheets/jquery-ui-1.11.4.custom/jquery-ui.css" />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="../controllers/niveau_controller.php">Les niveaux</a></li>
        <li><a href="../controllers/member_controller.php">Les stagiaires</a></li>
      </ul>
    </nav>

    <h1>Nouveau niveau</h1>

    <form action="../controllers/niveau_controller.php?action=create" method="POST">
      <div>
        <label>Valeur numérique du niveau</label>
        <input type="text" name="numniveau" value="{$niveau->numniveau}" />
      </div>

      <div>
        <label>Intitulé du niveau</label>
        <input type="text" name="libniveau" value="{$niveau->libniveau}" />
      </div>

      <input type="submit">
    </form>

    <script src="../assets/javascripts/jquery-2.2.3.min.js"></script>
    <script src="../assets/javascripts/jquery-ui-1.11.4.custom/jquery.ui.datepicker-fr.min.js"></script>
    <script src="../assets/javascripts/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="../assets/javascripts/application.js"></script>
  </body>

</html>
