<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>Edit a subscription</title>
    <link rel="stylesheet" href="../assets/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="../controllers/event_controller.php">Les stages</a></li>
        <li><a href="../controllers/member_controller.php">Les stagiaires</a></li>
        <li><a href="../controllers/events_member_controller.php">Les inscriptions</a></li>
      </ul>
    </nav>

    <h1>Edit the subscription of {$events_member->prenom} {$events_member->nom}<br />to the event&nbsp;: {$events_member->lieu}</h1>

    <form action="../controllers/events_member_controller.php?action=update&id={$events_member->id}" method="post">
      <div>
        <label>data specific to subscription</label>
        <input type="checkbox" name="subscription_data1" value="1" {($events_member->subscription_data1 == '1') ? "checked='checked'" : ''} />
      </div>

      <input type="submit">
    </form>

    <script src="../assets/javascripts/application.js"></script>
  </body>

</html>
