<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <title>Oxygène : S'inscrire aux stages</title>
    <link rel="stylesheet" href="../assets/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="../controllers/event_controller.php">Les stages</a></li>
        <li><a href="../controllers/member_controller.php">Les stagiaires</a></li>
      </ul>
    </nav>

    <h1>Les inscriptions aux stages</h1>

    <form>
    <table data-tablesaw-sortable data-tablesaw-no-labels>
      <thead>
        <tr>
          <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col>Nom</th>
          <th data-tablesaw-sortable-col>Prénom</th>
          {foreach from=$events item=event}
            <th data-tablesaw-sortable-col>{$event->lieu}</th>
          {/foreach}
        </tr>
      </thead>

      <tbody>
        {foreach from=$subscriptions item=subscription}
        <tr>
          <td class="texte"><a href="../controllers/member_controller.php?action=edit&id={$subscription['member_id']}">{$subscription['nom']}</a></td>
          <td class="texte">{$subscription['prenom']}</td>
          {for $i=0 to count($events)-1}

            {if ($subscription[$i+1] > 0)}
              <!-- le membre est inscrit à ce stage -->
              <td class="inscription">
                <span class="inscrit_pour_tri">2</span>
                <input type="checkbox" id="{$subscription[$i+1]}" data-member_id="{$subscription['member_id']}" data-event_id="{$events[$i]->id}" value="" checked="checked">
                <a href="events_member_controller.php?action=edit&id={$subscription[$i]}" class="edit"></a>
              </td>
            {else}
              <!-- le membre n'est pas inscrit à ce stage -->
              <td class="inscription">
                <span class="inscrit_pour_tri">1</span>
                <input type="checkbox" data-member_id="{$subscription['member_id']}" data-event_id="{$events[$i]->id}" value="">
              </td>
            {/if}

          {/for}
        </tr>
        {/foreach}
      </tbody>
		</table>
    </form>

    <script src="../assets/javascripts/jquery-2.2.3.min.js"></script>
    <script src="../assets/javascripts/jquery-ui-1.11.4.custom/jquery.ui.datepicker-fr.min.js"></script>
    <script src="../assets/javascripts/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="../assets/javascripts/events_members.js"></script>
    <script src="../assets/javascripts/tablesaw.js"></script>
    <script src="../assets/javascripts/application.js"></script>
  </body>

</html>
