<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <title>Oxygène : Modifier un stage</title>
    <link rel="stylesheet" href="../assets/stylesheets/style.css" />
  </head>

  <body>
     <nav>
        <ul>
          <li><a href="../controllers/event_controller.php">Les stages</a></li>
          <li><a href="../controllers/member_controller.php">Les stagiaires</a></li>
          <li><a href="../controllers/events_member_controller.php">Les inscriptions</a></li>
        </ul>
      </nav>

      <h1>Modifier un stage</h1>

      <form action="../controllers/event_controller.php?action=update&id={$event->id}" method="POST">
        <div>
          <label>Masquer</label>
          <input type="checkbox" name="masquer" value="1" {($event->masquer == '1') ? "checked='checked'" : ''} />
        </div>
        <div>
          <label>Nom</label>
          <input type="text" name="nom" value="{$event->nom}" />
        </div>
        <div>
          <label>Période</label>
          <input type="text" name="periode" value="{$event->periode}" />
        </div>
        <input type="submit">
      </form>
  </body>

</html>
