<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <title>Oxygène : Modifier un stage</title>
    <link rel="stylesheet" href="../assets/stylesheets/style.css" />
    <link rel="stylesheet" href="../assets/stylesheets/jquery-ui-1.11.4.custom/jquery-ui.css" />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="../controllers/event_controller.php">Les stages</a></li>
        <li><a href="../controllers/member_controller.php">Les stagiaires</a></li>
        <li><a href="../controllers/events_member_controller.php">Les inscriptions</a></li>
      </ul>
    </nav>

    <h1>Modifier un stage</h1>

    <form action="../controllers/event_controller.php?action=update&id={$event->id}" method="post">
      <div>
        <label>Masquer</label>
        <input type="checkbox" name="masque" value="1" {($event->masque == '1') ? "checked='checked'" : ''} />
      </div>
      <div>
        <label>Nom</label>
        <input type="text" name="lieu" value="{$event->lieu}" />
      </div>
      <div>
        <label>Début du stage</label>
        <input id="datedebut" type="date" name="datedebut" value="{$event->datedebut}" />
      </div>
      <div>
        <label>Fin du stage</label>
        <input id="datefin" type="date" name="datefin" value="{$event->datefin}" />
      </div>

      <input type="submit">
    </form>

    <script src="../assets/javascripts/jquery-2.2.3.min.js"></script>
    <script src="../assets/javascripts/jquery-ui-1.11.4.custom/jquery.ui.datepicker-fr.min.js"></script>
    <script src="../assets/javascripts/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="../assets/javascripts/application.js"></script>
  </body>

</html>
