<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <title>New event</title>
    <link rel="stylesheet" href="../assets/stylesheets/style.css" />
    <link rel="stylesheet" href="../assets/stylesheets/jquery-ui-1.11.4.custom/jquery-ui.css" />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="../controllers/event_controller.php">Events</a></li>
        <li><a href="../controllers/member_controller.php">Members</a></li>
        <li><a href="../controllers/events_member_controller.php">Subscriptions</a></li>
      </ul>
    </nav>

    <h1>New event</h1>

    <form action="../controllers/event_controller.php?action=create" method="POST">
      <div>
        <label>Event name</label>
        <input type="text" name="lieu" value="{$event->lieu}" />
      </div>
      <div>
        <label>From</label>
        <input id="datedebut" type="date" name="datedebut" value="{$event->datedebut}" />
      </div>
      <div>
        <label>To</label>
        <input id="datefin" type="date" name="datefin" value="{$event->datefin}" />
      </div>

      <input type="submit">
    </form>

    <script src="../assets/javascripts/jquery-2.2.3.min.js"></script>
    <script src="../assets/javascripts/jquery-ui-1.11.4.custom/jquery.ui.datepicker-fr.min.js"></script>
    <script src="../assets/javascripts/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="../assets/javascripts/application.js"></script>
  </body>

</html>
