body {
  font:16px Arial, sans-serif;
}
h1{text-align:center}
nav ul{
  padding:0;
  background: #dbb;
}
nav li{
  display: inline-block;
}
nav li:hover{
  background-color: #abb;
}
nav a{
  display:block;
  padding:1em;
  text-decoration: none;
}
table{
  border-collapse:collapse;
  border:none;
}
tbody tr:nth-child(odd){
  background:#ddd;
}
th, td{
  padding:1em;
  border:none;
}
.inscrit_pour_tri{display:none}
td.inscription{text-align:center}

label{
  display:inline-block;
  width:6em;
  margin:0.5em 0;
  }
