body {

}
nav ul{
  padding:0;
  background: #dbb;
}
nav li{
  display: inline-block;
}
nav li:hover{
  background-color: #abb;
}
nav a{
  display:block;
  padding:1em;
  text-decoration: none;
}
table{
  border-collapse:collapse;
  border:3px ridge gray;
}
table td{
  border:3px ridge gray;
}
