body {
  font:16px Arial, sans-serif;
}
h1{text-align:center}
nav ul{
  padding:0;
  background: #dbb;
}
nav li{
  display: inline-block;
}
nav li:hover{
  background-color: #abb;
}
nav a{
  display:block;
  padding:1em;
  text-decoration: none;
}
table{
  border-collapse:collapse;
  border:none;
}
tbody tr:nth-child(odd){
  background:#ddd;
}
th, td{
  padding:1em;
  border:none;
  text-align: center;
}
.inscrit_pour_tri{display:none}
td.texte{text-align:left}

label{
  display:inline-block;
  width:10em;
  margin:0.5em 0;
  }
label:first-letter{
  text-transform:capitalize;
}
.edit, .bin{
  display:inline-block;
  height:16px;
  width:16px;
}
.edit{
  background:url(../images/page_edit.png) no-repeat 0 0;
}
.bin{
  background:url(../images/bin.png) no-repeat 0 0;
}
