<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8" />
    <title>Edit a member</title>
    <link rel="stylesheet" href="../assets/stylesheets/style.css" />
    <link rel="stylesheet" href="../assets/stylesheets/jquery-ui-1.11.4.custom/jquery-ui.css" />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="../controllers/event_controller.php">Events</a></li>
        <li><a href="../controllers/member_controller.php">Members</a></li>
        <li><a href="../controllers/events_member_controller.php">subscriptions</a></li>
      </ul>
    </nav>

    <h1>Edit a member</h1>

    <form action="../controllers/member_controller.php?action=update&id={$member->id}" method="post">
      <div>
        <label>Hide</label>
        <input type="checkbox" name="masque" value="1" {($member->masque == '1') ? "checked='checked'" : ''} />
      </div>
      <div>
        <label>Last Name</label>
        <input type="text" name="nom" value="{$member->nom}" />
      </div>
      <div>
        <label>First name</label>
        <input type="text" name="prenom" value="{$member->prenom}" />
      </div>

      <input type="submit">
    </form>

    <script src="../assets/javascripts/jquery-2.2.3.min.js"></script>
    <script src="../assets/javascripts/jquery-ui-1.11.4.custom/jquery.ui.datepicker-fr.min.js"></script>
    <script src="../assets/javascripts/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="../assets/javascripts/application.js"></script>
  </body>

</html>
