<!DOCTYPE html>
<html lang="fr">

  <head>
      <meta charset="utf-8" />
      <title>Oxygène : La liste des stagiaires</title>
      <link rel="stylesheet" href="../assets/stylesheets/style.css" />
  </head>

  <body>

    <nav>
      <ul>
        <li><a href="../controllers/member_controller.php?action=new">Nouveau stagiaire</a></li>
        <li><a href="../controllers/event_controller.php">Les stages</a></li>
        <li><a href="../controllers/events_member_controller.php">Les inscriptions</a></li>
      </ul>
    </nav>

    <h1>La liste des stagiaires</h1>

    <table data-tablesaw-sortable data-tablesaw-no-labels>
      <thead>
        <tr>
          <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col>Nom</th>
          <th data-tablesaw-sortable-col>Prénom</th>
          <th>Modifier</th>
          <th>Supprimer</th>
        </tr>
      </thead>

      <tbody>
        {foreach from=$members item=member}
        <tr>
          <td>{$member->nom}</td>
          <td>{$member->prenom}</td>
          <td><a href="member_controller.php?action=edit&id={$member->id}" class="edit" title="Modifier ce stagiaire"></a></td>
          <td><a href="member_controller.php?action=destroy&id={$member->id}" class="bin" title="Supprimer ce stagiaire" data-warning="Tu vas supprimer cet adhérent et toutes ses inscriptions stage associées. Es-tu sûr ?"></a></td>
        </tr>
        {/foreach}
      </tbody>
    </table>

    <script src="../assets/javascripts/jquery-2.2.3.min.js"></script>
    <script src="../assets/javascripts/jquery-ui-1.11.4.custom/jquery.ui.datepicker-fr.min.js"></script>
    <script src="../assets/javascripts/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="../assets/javascripts/tablesaw.js"></script>
    <script src="../assets/javascripts/application.js"></script>
  </body>

</html>
