<!DOCTYPE html>
<html lang="en">

        <head>
            <meta charset="utf-8" />
            <title>La liste des stagiaires</title>
            <link rel="stylesheet" href="../../assets/stylesheets/style.css" />
        </head>

        <body>
            <h1>La liste des stagiaires</h1>

            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Détail</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>

                <tbody>
                    {foreach from=$members item=member}
                    <tr>
                        <td>{$member->nom}</td>
                        <td>{$member->prenom}</td>
                        <td><a href="member_controller.php?action=show&id={$member->id}">Détail</a></td>
                        <td><a href="member_controller.php?action=edit&id={$member->id}">Modifier</a></td>
                        <td><a href="member_controller.php?action=delete&id={$member->id}">Supprimer</a></td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </body>

</html>