<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>New member</title>
    <link rel="stylesheet" href="../assets/stylesheets/style.css" />
    <link rel="stylesheet" href="../assets/stylesheets/jquery-ui-1.11.4.custom/jquery-ui.css" />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="../controllers/event_controller.php">Events</a></li>
        <li><a href="../controllers/member_controller.php">Members</a></li>
        <li><a href="../controllers/events_member_controller.php">Subscriptions</a></li>
      </ul>
    </nav>

    <h1>New member</h1>

    <form action="../controllers/member_controller.php?action=create" method="POST">
      <div>
        <label>Last name</label>
        <input type="text" name="nom" />
      </div>
      <div>
        <label>First name</label>
        <input type="text" name="prenom" />
      </div>

      <input type="submit">
    </form>

    <script src="../assets/javascripts/jquery-2.2.3.min.js"></script>
    <script src="../assets/javascripts/jquery-ui-1.11.4.custom/jquery.ui.datepicker-fr.min.js"></script>
    <script src="../assets/javascripts/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="../assets/javascripts/application.js"></script>
  </body>

</html>
